@font-face{
    font-family: 'Roxie Rossa';
    src: local('Roxie Rossa'), url(./source/roxie_rossa/Roxie-rossa.ttf);
    
}

html, body{
    background: #000;
    /*background: linear-gradient(315deg, rgba(31,31,31,1) 0%, rgba(0,0,0,1) 100%); */
    min-height: 100%; 
    height: 100%;
}
header h1{
    font-family: 'Roxie Rossa', serif;
    text-transform: uppercase;
    color: #c9c5c1;
    font-size: 300%;
    font-weight: 200;
    flex-wrap: wrap;
}
header{
    margin: -8px;
    margin-bottom: 3em;
    padding: 0 1em;
    border-bottom: solid 1px #c9c5c1; 
    background: #000;
    position: fixed;
    width: 100%;
}
.main-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 60em;
    margin: auto;

}
@media screen and (max-width: 1000px){
    .main-box{
    display: flex;
    flex-direction: column;
    align-items: center;
        margin-top: 10em;
}
    .inp{
        max-width:30em;
    }
    .inp:nth-child(2){
        order:1;
    }
    .btn{
        max-width: 34em;
    }
}


textarea{
    resize: none;
}

.inp {
    border: none;
    border-radius: 8px;
    color: #c9c5c1;
    padding: 2em;
    background: #000;
    border: solid 1px #c9c5c1;
    width: 30em;
    height: 20em;
    transition: 0.5s;
    margin: 1.5em 0;
}



.inp:focus{
    border-color: #d14330;
    outline: none;
}

.btn{
    font-family: 'Roxie Rossa', serif;
    border: none;
    border-radius: 8px;
    color: #d14330;
    padding: 1em 2em;
    width: 100%;
    background-image: linear-gradient(to right, #c9c5c1 10%, #ffffff 50%, #c9c5c1 90%);
    background-size: 200%;
    transition: 0.5s;
    margin: 1.5em 0;
    font-weight:bold;
    text-transform: uppercase;
    
}

.btn:hover{
    background-position: right center;
}

.clr{
    color: #d14330;
    font-weight:bold;
}


body::-webkit-scrollbar, textarea::-webkit-scrollbar {
  width: 10px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track {
  opacity: 0;        /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
  background: #000;    /* цвет бегунка */
  border: solid 2px #d14330;
  border-radius: 5px;/* округлось бегунка */
}

footer {
    color: #d14330;
    border-top: solid 1px #c9c5c1;
    font-family: 'Roxie Rossa', serif;
    padding: 2em;
    margin: -8px;
    margin-top: 3em;
    font-weight: 200;
    height: 5em;
}

section{
    min-height: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
